@import 'base';

//! Picnic CSS http://www.picnicss.com/

// Imports the base variable styles
@import 'picnic/themes/default/theme';

@import 'picnic/vendor/compass-breakpoint/stylesheets/breakpoint';

// Normalize.css (external library)
// @import 'picnic/plugins/normalize/plugin';

// Generic styles for things like <body>, <a> and others
// It also overwrites normalize.css a bit
@import 'picnic/plugins/generic/plugin';
@import 'picnic/plugins/fontello/plugin';

// Simple elements
@import 'picnic/plugins/label/plugin';
@import 'picnic/plugins/button/plugin';

// Forms
@import 'picnic/plugins/input/plugin';
@import 'picnic/plugins/select/plugin';
@import 'picnic/plugins/radio/plugin';
@import 'picnic/plugins/checkbox/plugin';

// Components
@import 'picnic/plugins/table/plugin';
@import 'picnic/plugins/grid/plugin';

// Extra
// @import 'picnic/plugins/nav/plugin';

@import 'picnic/plugins/nav/class';

body {
  margin-top: 4.5em;
}

body > header {
  @extend %nav;
  h1 {
    @extend .brand;
    font-size:1em;
  }
  nav {
    @extend .menu;
    ul {
      margin: 0;
      li {
        margin: 0 $picnic-nav-sides 0 0;
        a {
          @extend .pseudo;
          @extend .button;
        }
      }
    }
  }
}

@import 'nav_responsive';

body > *:not(header) {
  max-width: 960px;
  margin:0 auto 0 auto;
}

// HugoModo Base styles
header nav ul, ul.pagination, ul.breadcrumbs {
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
  }
}

ul.breadcrumbs {
  li{
    &:after {
      content: "\00BB";
    }
    &:last-child:after {
      content: "";
    }
  }
}

img {
  max-width: 100%;
}

@import 'picnic/plugins/stack/plugin';
@import 'picnic/plugins/card/plugin';
@import 'picnic/plugins/modal/plugin';

@import 'picnic/plugins/dropimage/plugin';
@import 'picnic/plugins/tabs/plugin';
@import 'picnic/plugins/tooltip/plugin';
